.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
  background-color: black;
  color: #fff;
  padding: 1em;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
}

.nav-link {
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  margin-left: 1rem;
}

.nav-link:hover {
  color: #ccc;
}