form {
    display: flex;
    align-items: center;
    padding: 1em;
  }
  
  input[type="text"] {
    border: none;
    border-bottom: 1px solid gray;
    padding: 8px;
    font-size: 1rem;
    color: black;
    outline: none;
    transition: border-bottom 0.3s;
  }
  
  input[type="text"]:focus {
    border-bottom: 1px solid black;
  }
  
  button[type="submit"] {
    border: none;
    background: none;
    padding: 8px;
    font-size: 1rem;
    color: black;
    cursor: pointer;
  }
  
  div {
    margin: 8px 0;
  }
  
  a {
    color: black;
    text-decoration: none;
    font-size: 1rem;
  }
  